.l-header {
    margin-top: 75px;
    background-color: rebeccapurple;
    margin-bottom: 20px;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title {
        padding-top: 8px;
        font-size: 3.5rem;
        letter-spacing: 9px;
        color: white;
        flex: 1;
    }

    img {
        width: 22px;
    }

    &__create-todo {
        background-color: var(--color-bg-list);
        display: flex;
        border-radius: 6px;
        padding: 18px;
        z-index: -2;
    }

    &__mark {
        position: relative;
        appearance: none;
        width: 21px;
        height: 20px;
        border: 1px solid var(--color-around-check);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            border: double 1px transparent;
            border-radius: 50%;
            background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            background-origin: border-box;
            background-clip: padding-box, border-box;
        }
    }

    &__text {
        border: none;
        margin-left: 15px;
        width: 100%;
        outline-style: none;
        color: var(--color-text);

        &::placeholder {
            color: var(--color-options);
            font-weight: 500;
        }
    }
}