.c-menu {
    font-size: 1.3rem;
    color: var(--color-options);
    padding: 18px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        @include breakpoint(515) {
            flex-direction: column;
        }
    }

    &__buttom-mid {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 15px;

        @include breakpoint(413) {
            flex-direction: column;
        }
    }

    &__item {
        font-size: 1.3rem;
        width: min-content;
        flex: auto;
        transition: 0.5s;
        white-space: nowrap;

        &:first-child {
            text-align: start;
            font-weight: 400;
            @include breakpoint(515) {
                margin: 0 0 10px 0;
            }
        }

        &:last-child {
            text-align: end;
            float: right;
            font-weight: 400;
            @include breakpoint(515) {
                margin: 10px 0 0 0;
            }
        }
    }

    &__item-option {
        font-weight: 700;
        text-align: center;
        transition: 0.5s;

        &:not(:first-child) {
            margin: 0 10px;
        }
    }

    &__buttom {
        border: none;
        background: none;
        color: var(--color-options);
        flex: auto;
        cursor: pointer;

        &:hover {
            color: var(--color-text);
            transition: 0.5s;
        }
    }
}
