.c-menu {
    font-size: 1.3rem;
    color: var(--color-options);
    padding: 18px;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        width: min-content;
        flex: auto;
        transition: 0.5s;
        white-space: nowrap;

        &:hover {
            color: var(--color-text);
            transition: 0.5s;
            cursor: pointer;
        }
        
        &:first-child {
            text-align: center;
            font-weight: 400;
        }

        &:last-child {
            text-align: center;
            font-weight: 400;
        }
    }

    &__item-option {
        font-weight: 700;
        text-align: center;
        transition: 0.5s;

        &:hover {
            color: var(--color-text);
            transition: 0.5s;
            cursor: pointer;
        }

        // &:active {
        //     color: var(--color-blue);
        // }
        
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}