.c-menu {
    font-size: 1.3rem;
    color: var(--color-options);
    padding: 18px;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        font-size: 1.3rem;
        width: min-content;
        flex: auto;
        transition: 0.5s;
        white-space: nowrap;
        
        &:first-child {
            text-align: center;
            font-weight: 400;
        }

        &:last-child {
            text-align: center;
            font-weight: 400;
        }
    }

    &__item-option {
        font-weight: 700;
        text-align: center;
        transition: 0.5s;
        
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__buttom {
        border: none;
        background: none;
        color: var(--color-options);
        flex: auto;
        cursor: pointer;

        &:hover {
            color: var(--color-text);
            transition: 0.5s;
        }
    }
}