.c-menu {
    font-size: 1.3rem;
    color: var(--color-options);
    font-weight: 700;
    padding: 22px;
    text-align: center;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        flex: auto;
        white-space: nowrap;
        
        &:first-child {
            text-align: start;
            font-weight: 400;
        }

        &:last-child {
            text-align: end;
            font-weight: 400;
        }
    }
}